<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SessionCreateSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SessionCloseSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="OTA_AirScheduleSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BargainFinderMaxBinding" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
          <security mode="Transport" />
        </binding>
        <binding name="OTA_AirBookSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="EnhancedAirBookSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PassengerDetailsSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="TravelItineraryReadSoapBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://sws3-crt.cert.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="SessionCreateSoapBinding" contract="SessionCreator.SessionCreatePortType"
        name="SessionCreatePortType" />
      <endpoint address="https://sws3-crt.cert.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="SessionCloseSoapBinding" contract="SessionCloseRQ.SessionClosePortType"
        name="SessionClosePortType" />
      <endpoint address="https://sws3-crt.cert.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="OTA_AirScheduleSoapBinding" contract="OTA_AirScheduleService.OTA_AirSchedulePortType"
        name="OTA_AirSchedulePortType" />
      <endpoint address="https://sws3-crt.cert.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="BargainFinderMaxBinding" contract="BargainFinderMax.BargainFinderMaxPortType"
        name="BargainFinderMaxPortType" />
      <endpoint address="https://sws3-crt.cert.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="OTA_AirBookSoapBinding" contract="OTA_AirBookLLSRQ.OTA_AirBookPortType"
        name="OTA_AirBookPortType" />
      <endpoint address="https://sws3-crt.cert.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="EnhancedAirBookSoapBinding" contract="EnhancedAirBookRQ.EnhancedAirBookPortType"
        name="EnhancedAirBookPortType" />
      <endpoint address="https://sws3-crt.cert.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="PassengerDetailsSoapBinding" contract="CreatePNR.PassengerDetailsPortType"
        name="PassengerDetailsPortType" />
      <endpoint address="https://sws3-crt.cert.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="TravelItineraryReadSoapBinding" contract="LoadPNR.TravelItineraryReadPortType"
        name="TravelItineraryReadPortType" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="UserName" value="*" />
    <add key="Password" value="*" />
    <add key="Organization" value="*" />
    <add key="Domain" value="*" />
  </appSettings>
</configuration>