<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SessionCreateSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SessionCloseSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="OTA_AirScheduleSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BargainFinderMaxBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://sws3-crt.cert.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="SessionCreateSoapBinding" contract="SessionCreator.SessionCreatePortType"
        name="SessionCreatePortType" />
      <endpoint address="https://sws3-crt.cert.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="SessionCloseSoapBinding" contract="SessionCloseRQ.SessionClosePortType"
        name="SessionClosePortType" />
      <endpoint address="https://sws3-crt.cert.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="OTA_AirScheduleSoapBinding" contract="OTA_AirScheduleService.OTA_AirSchedulePortType"
        name="OTA_AirSchedulePortType" />
      <endpoint address="https://webservices.havail.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="BargainFinderMaxBinding" contract="BargainFinderMax.BargainFinderMaxPortType"
        name="BargainFinderMaxPortType" />
    </client>
  </system.serviceModel>
</configuration>