<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SessionCreateSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SessionCreateSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.sabre.com" binding="basicHttpBinding"
                bindingConfiguration="SessionCreateSoapBinding" contract="SessionCreator.SessionCreatePortType"
                name="SessionCreatePortType" />
        </client>
    </system.serviceModel>
</configuration>