<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SessionCreateSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SessionCloseSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="OTA_AirScheduleSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BargainFinderMaxBinding">
          <security mode="Transport" />
        </binding>
        <binding name="OTA_AirBookSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="EnhancedAirBookSoapBinding">
          <security mode="Transport" />
        </binding>
        
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://sws3-crt.cert.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="SessionCreateSoapBinding" contract="SessionCreator.SessionCreatePortType"
        name="SessionCreatePortType" />
      <endpoint address="https://sws3-crt.cert.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="SessionCloseSoapBinding" contract="SessionCloseRQ.SessionClosePortType"
        name="SessionClosePortType" />
      <endpoint address="https://sws3-crt.cert.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="OTA_AirScheduleSoapBinding" contract="OTA_AirScheduleService.OTA_AirSchedulePortType"
        name="OTA_AirSchedulePortType" />
      <endpoint address="https://sws3-crt.cert.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="BargainFinderMaxBinding" contract="BargainFinderMax.BargainFinderMaxPortType"
        name="BargainFinderMaxPortType" />
      <endpoint address="https://sws3-crt.cert.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="OTA_AirBookSoapBinding" contract="OTA_AirBookLLSRQ.OTA_AirBookPortType"
        name="OTA_AirBookPortType" />
      <endpoint address="https://webservices.havail.sabre.com" binding="basicHttpBinding"
        bindingConfiguration="EnhancedAirBookSoapBinding" contract="EnhancedAirBookRQ.EnhancedAirBookPortType"
        name="EnhancedAirBookPortType" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>