<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="jsonlines"
            xsi:type="file"
            fileName="${basedir}/logs/SabreClient.${date:format=yyyy-MM-dd}.jsonl"
            archiveEvery="Day"
            archiveFileName="${basedir}/logs/archives/SabreClient.{#}.old.jsonl"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="209715200"
            maxArchiveFiles="5"
            keepFileOpen="True"
            optimizeBufferReuse="True"
            openFileCacheTimeout="30"
            bufferSize="16777216"
            autoFlush="False">
      <layout xsi:type="JsonLayout">
        <attribute name="eventTime" layout="${date:universalTime=True:format=yyyy-MM-dd'T'HH\:mm\:ss.fffK}" />
        <attribute name="level" layout="${uppercase:${level}}" />
        <attribute name="logentryguid" layout="${guid:format=D}" />
        <attribute name="releaseversion" layout="0.0.0" />
        <attribute name="host" layout="${machinename}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="conversationId" layout="${mdc:item=conversationId}" />
        <attribute name="message" layout="${message:exceptionSeparator=\n---------------\n:withException=true}" encode="true" />
      </layout>
    </target>
    <target name="logconsole" xsi:type="Console" />
  </targets>
  <rules>
    <!-- filter out unneeded logs -->
    <logger name="Quartz.*" maxLevel="Info" final="true" />

    <!-- all remaining logs -->
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="jsonlines" />
  </rules>
</nlog>